In [6]:
import pandas as pd
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
df1.merge(df2, how='right', on='a')

     a    b  c
0  foo  1.0  3
1  baz  NaN  4

In [7]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [12]:
df1.merge(df2, how="outer", on 'lkey')

SyntaxError: positional argument follows keyword argument (3487051324.py, line 1)