In [12]:
import pandas as pd
CoD = pd.read_csv("Multiple Cause of Death, 1999-2014.csv")

#Task One
CoD.rename(columns={"Crude Rate": "Crude_Rate", "Crude Rate Lower 95% Confidence Interval":"Crude_Rate_Lower_95%_Confidence_Interval", "Crude Rate Upper 95% Confidence Interval": "Crude_Rate_Upper_95%_Confidence_Interval", }, errors="raise")

#Task Two - (At first, the only two columns recognized as float are Year and Population)

              Year    Population
count   816.000000  8.160000e+02
mean   2006.500000  5.871569e+06
std       4.612599  6.561914e+06
min    1999.000000  4.917800e+05
25%    2002.750000  1.580634e+06
50%    2006.500000  4.112482e+06
75%    2010.250000  6.589866e+06
max    2014.000000  3.880250e+07