In [1]:
import pandas as pd
import numpy as np

CoD = pd.read_csv("Multiple Cause of Death, 1999-2014.csv")

In [2]:
#Task One
CoD = CoD.rename(columns={"Crude Rate": "Crude_Rate", "Crude Rate Lower 95% Confidence Interval":"Crude_Rate_Lower_95%_Confidence_Interval", "Crude Rate Upper 95% Confidence Interval": "Crude_Rate_Upper_95%_Confidence_Interval", }, errors="raise")

In [3]:
#Task Two - (At first, the only two columns recognized as float are Year and Population)
#CoD.info()
CoD = CoD.replace({"Suppressed": 0, "Unreliable" : 0})
#Converting accorting to {https://www.geeksforgeeks.org/change-data-type-for-one-or-more-columns-in-pandas-dataframe/?ref=lbp}
convert_dict = {'Deaths': int,
                'Crude_Rate': float, 
                "Crude_Rate_Lower_95%_Confidence_Interval": float, 
                "Crude_Rate_Upper_95%_Confidence_Interval": float
                }
CoD = CoD.astype(convert_dict)
#CoD.info()

In [4]:
#Task 3:  number of deaths > 2000 deaths only show State and Year
thoudeat = CoD.query('Deaths > 2000')
print("States and Years where Deaths exceed 2000:")
print(thoudeat[['State', 'Year']])

States and Years where Deaths exceed 2000:
          State  Year
74   California  2009
75   California  2010
76   California  2011
78   California  2013
79   California  2014
575        Ohio  2014

In [5]:
#Task 4: total number of deaths per each state across all years
Tot = CoD.groupby("State").sum()
Tot = Tot.rename(columns={"Deaths": "Total"}, errors="raise")
print(Tot[["Total"]])

                      Total
State
Alabama                2173
Alaska                  721
Arizona                7298
Arkansas               2178
California            27044
Colorado               5155
Connecticut            3755
Delaware               1091
District of Columbia    706
Florida               19919
Georgia                6052
Hawaii                  955
Idaho                   971
Illinois              13072
Indiana                3758
Iowa                   1676
Kansas                 1794
Kentucky               6283
Louisiana              2419
Maine                  1589
Maryland               9403
Massachusetts          9923
Michigan               8748
Minnesota              3158
Mississippi            1078
Missouri               6460
Montana                 781
Nebraska                606
Nevada                 5954
New Hampshire          1859
New Jersey             6961
New Mexico             4002
New York              16156
North Carolina        10413
North Dakota            180
Ohio                  13623
Oklahoma               5926
Oregon                 4933
Pennsylvania           9304
Rhode Island           1847
South Carolina         3165
South Dakota            349
Tennessee              7467
Texas                 15050
Utah                   5165
Vermont                 785
Virginia               7210
Washington             9528
West Virginia          4982
Wisconsin              5400
Wyoming                 424

In [58]:
#Task 5:  Find all rows where the name of the state begin with the letter 'A'
AoD = CoD
i = 64
while (i < 816):
    AoD = AoD.drop(index=[i])
    i = i+1
AoD

,State,Year,Deaths,Population,Crude_Rate,Crude_Rate_Lower_95%_Confidence_Interval,Crude_Rate_Upper_95%_Confidence_Interval
0,Alabama,1999,39,4430141,0.9,0.6,1.2
1,Alabama,2000,46,4447100,1.0,0.8,1.4
2,Alabama,2001,67,4467634,1.5,1.2,1.9
3,Alabama,2002,75,4480089,1.7,1.3,2.1
4,Alabama,2003,54,4503491,1.2,0.9,1.6
...,...,...,...,...,...,...,...
59,Arkansas,2010,198,2915918,6.8,5.8,7.7
60,Arkansas,2011,176,2937979,6.0,5.1,6.9
61,Arkansas,2012,181,2949131,6.1,5.2,7.0
62,Arkansas,2013,175,2959373,5.9,5.0,6.8
63,Arkansas,2014,179,2966369,6.0,5.2,6.9

In [46]:
#Task 6: top five states with the largest population in any given year only show State and Population
Mos = CoD[["State", "Population"]]
Mos = Mos.groupby("State").max()
Mos = Mos.sort_values(by=['Population'], ascending=False)
print(Mos.head(5))

            Population
State
California    38802500
Texas         26956958
Florida       19893297
New York      19746227
Illinois      12882135

In [7]:
#Task 7:  Find five years with the highest numbers of the deaths for the state with the highest population. In your results, show only "Year" and "Deaths"
#State = California
CaliD = CoD[CoD.State == "California"]
CaliD = CaliD[["Year", "Deaths"]]
CaliD = CaliD.sort_values(by=['Deaths'], ascending=False)
print(CaliD.head(5))

    Year  Deaths
79  2014    2159
74  2009    2128
78  2013    2088
75  2010    2059
76  2011    2057

Task 8: Add a Column that finds the death per population of each index value

In [60]:
#Task 9:Add a Column that finds the death per population of each index value
CoD.assign(Percent_Death_Per_Population=CoD['Deaths']/CoD['Population']*100)

,State,Year,Deaths,Population,Crude_Rate,Crude_Rate_Lower_95%_Confidence_Interval,Crude_Rate_Upper_95%_Confidence_Interval,Percent_Death_Per_Population
0,Alabama,1999,39,4430141,0.9,0.6,1.2,0.000880
1,Alabama,2000,46,4447100,1.0,0.8,1.4,0.001034
2,Alabama,2001,67,4467634,1.5,1.2,1.9,0.001500
3,Alabama,2002,75,4480089,1.7,1.3,2.1,0.001674
4,Alabama,2003,54,4503491,1.2,0.9,1.6,0.001199
...,...,...,...,...,...,...,...,...
811,Wyoming,2010,49,563626,8.7,6.4,11.5,0.008694
812,Wyoming,2011,47,568158,8.3,6.1,11.0,0.008272
813,Wyoming,2012,47,576412,8.2,6.0,10.8,0.008154
814,Wyoming,2013,52,582658,8.9,6.7,11.7,0.008925
815,Wyoming,2014,57,584153,9.8,7.4,12.6,0.009758